/* Redesigned by wp10 */

.reviewer .wrap .wp-heading-inline + .page-title-action {
    display: none;
}
.reviewer .wp-has-submenu li:last-of-type,
.reviewer .wp-has-submenu li:last-of-type {
    display: none;
}

table tr.bg-red td {
    background: pink !important;
}
}
